* .heading {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: black;
    font-family: "Cairo";

}
.card{
    width: 22rem;
    display: block;
    list-style: none;

}
#searchButton{
    margin-left: 10px;
}
#searchList{
    list-style: none;
    margin-left: 0px;

