* .heading {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: black;
    font-family: "Cairo";

}
.input {

    margin: 10px;
}
#cityWeather{
    margin-top: 40px;
    
    width: 22rem;
    display: block;
    list-style: none;

}
#searchButton{
    margin-left: 10px 0;
}
#searchList{
    list-style: none;
    margin-left: 0px;
    width: 250px;
} 
#cityName{
    font-style: "Cairo";
    font-weight: bold;
    font-size: 25px;
}   
#cityList {

margin: 0;
padding: 10px;

}
#cityWeather{
    position: absolute;
}
#searchItems:hover {
background-color: rgb(100, 98, 240);
cursor: pointer;
}

#forecast{
    margin-top: 200px;
    margin-left: 400px;
    margin-right: 50px;
    font-family: 'Cairo';
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    
}
#fivecard {
    margin-left:0px;
    position: absolute;
}

#fiveDayColumns {
    display: flex;
    margin-top: 250px;
    margin-left: 400px;
    position:absolute;
}

@media only screen and (max-width: 600px) {  

    .card-columns {
        position: absolute;
        display:flex;
     }
    

   }
 
 
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {  
 
    /* Your CSS Code for this device size */    
 
 } 